fastapi==0.115.8
uvicorn==0.34.0
python-multipart==0.0.20
vosk==0.3.44
yolov5==7.0.14
opencv-python==4.10.0.84
numpy==1.26.4
torch==2.6.0
torchvision==0.21.0
requests==2.32.3
tqdm==4.67.1
tensorflow-macos==2.16.2
tensorflow-metal==1.2.0 